# Ignore everything
/*

# but not these files..
!.gitignore
!.xprofile
!README.md

!nvim/
# nvim/*
nvim/coc-settings.json
nvim/.luarc.json
nvim/lazy-lock.json

!rofi/
!picom
!alacritty
!bin/
bin/*
!bin/powermenu

!zsh/
zsh/*
!zsh/.zshrc

!ranger/

!betterlockscreenrc

!sxiv/
!dunst/
!zathura/
!files/

!awesome/
awesome/*

!awesome/rc.lua
!awesome/translations.lua
!awesome/widgets

!awesome/themes/
awesome/themes/*
!awesome/themes/habibi/
awesome/themes/habibi/*
!awesome/themes/habibi/*
