# Ignore everything
/*

# but not these files..
!.gitignore
!.xprofile
!README.md

!nvim/
nvim/*

!nvim/autoload/
!nvim/init.vim
!nvim/config/

!rofi/
!picom
!alacritty
!bin

!zsh/
zsh/*
!zsh/.zshrc

!ranger/

!betterlockscreenrc

!sxiv/
!dunst/
!zathura/
!files/
